block variables
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon", href="/favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        title #{title} | MovieZilla
        link(rel='stylesheet' href="/style.css")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js' type="text/javascript")
    body
        div#root
            script(src='/common.js')
            script(src='/loginUser.js')

            block layout